#title{
    background-color: #1a1a1a !important;
}

#container {
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image : url("https://images.pexels.com/photos/1624496/pexels-photo-1624496.jpeg?auto=compress&cs=tinysrgb&w=1600");
}

#centerDiv{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.card {
    background-color: #333333;
    color: #fff;
    max-width: 400px;
    margin: 0 auto;
    margin-top: 100px;
    border-radius: 10px;
    border: none;
    box-shadow: 0px 5px 15px rgba(0,0,0,0.2);
}

.card-header {
    background-color: #1a1a1a;
    border-radius: 10px 10px 0 0;
    border: none;
    padding: 20px;
    padding-top: 10px;
    padding-bottom: 5px;
}

.card-body {
    padding: 30px;
}

.form-group {
    margin-bottom: 30px;
}

.form-control {
    background-color: #4d4d4d;
    border-radius: 25px;
    border: none;
    color: #fff;
}

.form-control:focus {
    background-color: #4d4d4d;
    border-color: #fff;
    box-shadow: none;
    color: #fff;
}

.btn {
    background-color: #1a1a1a;
    color: #fff;
    border-radius: 25px;
    border: none;
    font-size: 18px;
    font-weight: 500;
    padding: 10px 20px;
    transition: all 0.3s ease;
}

.btn:hover {
    background-color: #333333;
    box-shadow: 0px 3px 10px white;
    transition: all 0.3s ease-in-out;
}

.navbar{
  background: linear-gradient(90deg, #333333, #1a1a1a);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}
