<div id="background">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand title">Connect Four Game</a>
        <div class="collapse navbar-collapse" id="navbarNav">
            <div class="mx-auto navbar-nav versusContainer">
                <img [src]="playerTokenSRC" alt="playerToken" class="token" #playerVS>
                <div class="vs">
                    <span id="vs">Vs.</span>
                </div>
                <img [src]="computerTokenSRC" alt="computerToken" class="token" #computerVS>
            </div>
            <div class="mx-auto returnContainer navbar-nav" (click)="return()">
                <a class="nav-link returnButton">Return</a>
            </div>
            <ul class="navbar-nav ms-auto">
                <li class="nav-item active">
                    <a class="nav-link logout" (click)="logout()">Logout</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link">{{this.user?.first}} {{this.user?.last}}</a>
                </li>
            </ul>
            <!-- Add your button here -->
        </div>
    </nav>    
    <div id = "gameboard">
        <div id = "box"></div>
        <div id = "coloredBoard" [style.backgroundColor]="boardBackground"></div>
        <div id="centeredWithgridContainer">
            <div id = "selectBox">
                <img src = "../../../assets/images/cry.gif" id = "lose" alt = "lostImg" #loseIMG>
                <img src = "../../../assets/images/winner.gif" id = "win" alt = "winImg" #winIMG>
            </div>
        </div>
        <div class = "gridContainer">
            <div id = "0" class = "gridItem top disableTop"><img class = "token" (click)="playerMove($event)" [src] = "playerTokenSRC" alt = "playerToken" #divTop0></div>
            <div id = "1" class = "gridItem top"><img class = "token" (click)="playerMove($event)" [src] = "playerTokenSRC" alt = "playerToken" #divTop1></div>
            <div id = "2" class = "gridItem top"><img class = "token" (click)="playerMove($event)" [src] = "playerTokenSRC" alt = "playerToken" #divTop2></div>
            <div id = "3" class = "gridItem top"><img class = "token" (click)="playerMove($event)" [src] = "playerTokenSRC" alt = "playerToken" #divTop3></div>
            <div id = "4" class = "gridItem top"><img class = "token" (click)="playerMove($event)" [src] = "playerTokenSRC" alt = "playerToken" #divTop4></div>
            <div id = "5" class = "gridItem top"><img class = "token" (click)="playerMove($event)" [src] = "playerTokenSRC" alt = "playerToken" #divTop5></div>
            <div id = "6" class = "gridItem top"><img class = "token" (click)="playerMove($event)" [src] = "playerTokenSRC" alt = "playerToken" #divTop6></div>
            <div id = "00" class = "gridItem" #div00></div>
            <div id = "01" class = "gridItem" #div01></div>
            <div id = "02" class = "gridItem" #div02></div>
            <div id = "03" class = "gridItem" #div03></div>
            <div id = "04" class = "gridItem" #div04></div>
            <div id = "05" class = "gridItem" #div05></div>
            <div id = "06" class = "gridItem" #div06></div>
            <div id = "10" class = "gridItem" #div10></div>
            <div id = "11" class = "gridItem" #div11></div>
            <div id = "12" class = "gridItem" #div12></div>
            <div id = "13" class = "gridItem" #div13></div>
            <div id = "14" class = "gridItem" #div14></div>
            <div id = "15" class = "gridItem" #div15></div>
            <div id = "16" class = "gridItem" #div16></div>
            <div id = "20" class = "gridItem" #div20></div>
            <div id = "21" class = "gridItem" #div21></div>
            <div id = "22" class = "gridItem" #div22></div>
            <div id = "23" class = "gridItem" #div23></div>
            <div id = "24" class = "gridItem" #div24></div>
            <div id = "25" class = "gridItem" #div25></div>
            <div id = "26" class = "gridItem" #div26></div>
            <div id = "30" class = "gridItem" #div30></div>
            <div id = "31" class = "gridItem" #div31></div>
            <div id = "32" class = "gridItem" #div32></div>
            <div id = "33" class = "gridItem" #div33></div>
            <div id = "34" class = "gridItem" #div34></div>
            <div id = "35" class = "gridItem" #div35></div>
            <div id = "36" class = "gridItem" #div36></div>
            <div id = "40" class = "gridItem" #div40></div>
            <div id = "41" class = "gridItem" #div41></div>
            <div id = "42" class = "gridItem" #div42></div>
            <div id = "43" class = "gridItem" #div43></div>
            <div id = "44" class = "gridItem" #div44></div>
            <div id = "45" class = "gridItem" #div45></div>
            <div id = "46" class = "gridItem" #div46></div>
        </div>
        <div id="statusContainer">
            <p id = "status" [textContent]="paragraphText"></p>
        </div>
    </div>
</div>